@font-face {
    font-family: "PerpetuaTitlingMT";
    src: url('/fonts/PerpetuaTitlingMT/PERTILI.ttf');
}
@font-face {
    font-family: FranklinGothicBook;
    src: url('/fonts/FranklinGothicBook/FRABK.ttf');
}

.title-button:hover {
    color: white;
    background-color: #981f88;
    border: 1px solid #981f88;
}
.title-button:focus {
    outline: none;
}
main {
    background-image: url('/img/auth/img-bachground.jpg');
    width: 100%;
    height: 633px;
    display: flex;
    align-items: center;
}
.authorization {
    margin-left: 90px;
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.75);
}
.authorization-span {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: black;
    text-transform: uppercase;
}
.title-form {
    position: relative;
    text-align: center;
}
.name {
    text-transform: capitalize;
}
.input-login-password {
    margin: 5px;
    padding: 20px;
    width: 260px;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
    color: #797979;
    background-color: #171926;
}
.checkbox {
    padding-left: 35px;
    width: 280px;
    color: #171926;
    font-size: 20px;
    text-align: initial;
}
.form-button {
    position: absolute;
    top: 290px;
    left: 112px;
    padding: 10px;
    width: 150px;
    font-size: 25px;
    color: white;
    background-color: #981f88;
    border: 1px solid #981f88;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
.form-button:focus {
    color: #797979;
    outline: none;
}
.registratsiya {
    margin-bottom: 65px;
    width: 280px;
    color: #171926;
    font-size: 15px;
    padding-left: 35px;
    text-align: initial;
}