
html, body {
    height: 100%;
}

.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    height: 75px;
    background-color: #0f1221;
}

.navbar-brand {
    color: #7f7e7e;
    font-size: 28px;
}

.nav-item{
    color: #7f7e7e;
    width: 150px;
    height: 50px;
    border: 1px solid #7f7e7e;
    margin-left: 25px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.nav-item:hover {
    border-color: #a01e81;
    color: #a01e81;
}

.active {
    border-color: #a01e81;
    color: #a01e81;
}
.navbar-nav {
    float: right !important;
}




.navbar-toggler {
    border: 1px solid #7f7e7e;
    display: flex;
    align-items: center;
    
}
.navbar-toggler-icon {
    color: #7f7e7e;
    line-height: 30px;
}

.navbar-collapse {
    background-color: #0f1221;
    padding: 8px;
}

#copywrite {
    margin: 0;
    font-size: 18px;
}
